<form [formGroup]="form" (ngSubmit)="onSubmit()" class="space-y-6" novalidate>
  <!-- Campo usuario -->
  <div>
    <label class="block text-sm text-gray-700 mb-1" for="login"
      >Usuario / Correo</label
    >
    <input
      id="login"
      type="text"
      formControlName="login"
      class="w-full border border-gray-300 px-4 py-2 rounded-md focus:ring-2 focus:ring-teal-500 outline-none"
      placeholder="miusuario"
    />
    @if (form.get("login")?.invalid && form.get("login")?.touched) {
      <p class="text-sm text-red-600 mt-1">Campo requerido</p>
    }
  </div>

  <!-- Campo contraseña -->
  <div>
    <label class="block text-sm text-gray-700 mb-1" for="password"
      >Contraseña</label
    >
    <input
      id="password"
      type="password"
      formControlName="password"
      class="w-full border border-gray-300 px-4 py-2 rounded-md focus:ring-2 focus:ring-teal-500 outline-none"
      placeholder="••••••••"
    />
    @if (form.get("password")?.invalid && form.get("password")?.touched) {
      <p class="text-sm text-red-600 mt-1">Campo requerido</p>
    }
  </div>

  <button
    type="submit"
    [disabled]="form.invalid"
    class="w-full bg-teal-600 hover:bg-teal-700 text-white py-2 rounded-lg transition disabled:opacity-50"
  >
    Continuar
  </button>
</form>
