<form [formGroup]="form" (ngSubmit)="onSubmit()" class="space-y-6" novalidate>
  <!-- Nombre completo -->
  <div>
    <label class="block text-sm text-gray-700 mb-1" for="fullName"
      >Nombre completo</label
    >
    <input
      id="fullName"
      type="text"
      formControlName="fullName"
      class="w-full border border-gray-300 px-4 py-2 rounded-md focus:ring-2 focus:ring-brand-500 outline-none"
      placeholder="Ej. Juan Pérez"
    />
    @if (form.get("fullName")?.invalid && form.get("fullName")?.touched) {
      <p class="text-sm text-red-600 mt-1">Nombre requerido (mín. 3 car.)</p>
    }
  </div>

  <!-- Email -->
  <div>
    <label class="block text-sm text-gray-700 mb-1" for="email"
      >Correo electrónico</label
    >
    <input
      id="email"
      type="email"
      formControlName="email"
      class="w-full border border-gray-300 px-4 py-2 rounded-md focus:ring-2 focus:ring-brand-500 outline-none"
      placeholder="correo@dominio.com"
    />
    @if (form.get("email")?.invalid && form.get("email")?.touched) {
      <p class="text-sm text-red-600 mt-1">Correo válido requerido</p>
    }
  </div>

  <!-- Username -->
  <div>
    <label class="block text-sm text-gray-700 mb-1" for="username"
      >Usuario</label
    >
    <input
      id="username"
      type="text"
      formControlName="username"
      class="w-full border border-gray-300 px-4 py-2 rounded-md focus:ring-2 focus:ring-brand-500 outline-none"
      placeholder="usuario123"
    />
    @if (form.get("username")?.invalid && form.get("username")?.touched) {
      <p class="text-sm text-red-600 mt-1">Usuario 3 – 30 caracteres</p>
    }
  </div>

  <!-- Contraseña -->
  <div>
    <label class="block text-sm text-gray-700 mb-1" for="password"
      >Contraseña</label
    >
    <input
      id="password"
      type="password"
      formControlName="password"
      class="w-full border border-gray-300 px-4 py-2 rounded-md focus:ring-2 focus:ring-brand-500 outline-none"
      placeholder="••••••••"
    />
    @if (form.get("password")?.invalid && form.get("password")?.touched) {
      <p class="text-sm text-red-600 mt-1">Mínimo 8 caracteres</p>
    }
  </div>

  <!-- Clave de producto -->
  <div>
    <label class="block text-sm text-gray-700 mb-1" for="productKey"
      >Clave de producto</label
    >
    <input
      id="productKey"
      type="text"
      formControlName="productKey"
      class="w-full border border-gray-300 px-4 py-2 rounded-md focus:ring-2 focus:ring-brand-500 outline-none"
      placeholder="XXXX-XXXX-XXXX"
    />
    @if (form.get("productKey")?.invalid && form.get("productKey")?.touched) {
      <p class="text-sm text-red-600 mt-1">Clave requerida</p>
    }
  </div>
  <!-- Botón -->
  <button
    type="submit"
    [disabled]="form.invalid"
    class="w-full bg-teal-600 hover:bg-teal-700 text-white py-2 rounded-lg transition disabled:opacity-50 cursor-pointer"
  >
    Crear cuenta
  </button>
</form>
